@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Licorice&family=Love+Light&family=Permanent+Marker&family=Playfair+Display:wght@400;500&family=Poiret+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url("images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;
}
.max-width{
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    transition: all 0.2s ease-in;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}
.navbar .logo a img:hover{
    border-radius: 25px;
    transform: scale(1.1);
}
.navbar .logo pre{
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    padding-left: 20px;
    cursor: pointer;
    animation: animate 2.5s linear infinite alternate;
}
.navbar .logo .a1{
    color: crimson;
}
@keyframes animate{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg) translateX(15px) translateY(30px);
    }
    100%{
        transform: rotateX(180deg) translateX(30px);
    }
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.navbar .menu li a{
    display: block;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Advent Pro', sans-serif;
    color: #fff;
    padding: 8px 20px;
    transition: all 1s ease;
}
.navbar .menu li a:hover{
    border-radius: 1020px;
    color: brown;
    background-color: white;
}
.btn{
    color: #fff;
    font-size: 25px;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn:hover{
    color: brown;
    transform: scale(1.1);
}
/*halls section starts*/
.hall{
    display: flex;
    height: 100vh;
    min-height: 500px;
}
.hall .max-width{
    padding: auto 0 auto 40px;
}
.hall .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hall .main p{
    color: #FFF;
    font-size: 45px;
    font-weight: 500;
    animation: animate2 2s;
}
@keyframes animate2{
    from{
        transform: translateX(-25%);
    }
    to{
        transform: translateX(0%);
    }

}
.hall .main button{
    width: 180px;
    height: 50px;
    color: #111;
    background-color: rgb(236, 132, 100);
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    border: 2px solid brown;
    border-radius: 20px;
    animation: animate3 2s;
}
@keyframes animate3{
    from{
        transform: translateY(15vh);
    }
    to{
        transform: translateY(0vh);
    }

}
.hall .main button:hover{
    background-color: brown;
    color: rgb(185, 155, 155);
    box-shadow: 0 0 5px 5px brown;
}
.hall .social{
    position: absolute;
    right: 60px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}
.hall .social li{
    list-style: none;
    margin-bottom: 20px;
}
.hall .social li a i{
    font-size: 30px;
    color: #fffff0;
    transition: all 0.3s ease-in;
}
.hall .social li a:hover i{
    color: crimson;
    transform: scale(1.5);
}
.games{
    background: #fff;
    height: 100vh;
}
.games .vd{
}
section{
    padding: 100px 0;
}






@media(max-width: 1300px){

}
@media(max-width: 1104px){

}
@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media(max-width: 947px){
    .navbar .menu{
        display: none;
    }
    .btn{
        color: #fff;
        display: block;
        cursor: pointer;
    }
    .max-width{
        max-width: 800px;
    }
}
@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
}
@media(max-width: 500px){

}